*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FF4500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

::-webkit-scrollbar-track {
  background-color: #FFFFFF;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background: #0C0C0C;
}

/* Medium Device = 1200px */
/* Tablet Device = 768px */
/* Wide Mobile = 480px */
header {
  background-color: #EDFAC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .scroll {
  height: 100%;
}

header .scroll .marqueeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 16px;
  padding: 0;
  color: #FF4500;
  font-family: 'Franklin Gothic Heavy';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.035em;
  padding-right: 40px;
}

header .scroll .marqueeText .mainLink {
  color: #3A0000;
  margin: 0 5px;
}

header .scroll .marqueeText a {
  color: #FF4500;
}

header .scroll .marqueeText img {
  position: absolute;
  width: 20px;
  height: 15px;
  right: 15px;
  top: 5px;
}

header .scroll .blue {
  color: #36B7FF;
}

header .scroll .blue a {
  color: #36B7FF;
}

.containerVetor {
  width: 100%;
  height: 100vh;
}

.containerVetor .block_vetor {
  border: 10px solid #EDFAC9;
  border-radius: 25px;
  width: 35vw;
  height: 75vh;
  padding: 10px 0;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7vh;
  left: auto;
}

.containerVetor .block_vetor .title {
  font-family: 'Franklin Gothic Heavy';
  color: #EDFAC9;
  font-weight: 900;
  font-size: 3.2vw;
  padding: 0;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerVetor .block_vetor .title p {
  padding: 0;
  margin: 0;
}

.containerVetor .block_vetor .title span {
  margin-top: -30px;
}

.containerVetor .block_vetor img {
  width: 70%;
  margin: 20px 0 30px 0;
}

.containerVetor .block_vetor .Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.containerVetor .block_vetor .Links li {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  list-style: none;
}

.containerVetor .block_vetor .Links li .link {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: -0.06em;
  font-size: 1.4vw;
  color: #05e478;
}

.containerVetor .block_vetor .Links li .darkRed {
  color: #3A0000;
}

.projetos {
  background-color: #EDFAC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 10vh;
  z-index: 10;
}

.projetos .scroll1 {
  height: 100%;
}

.projetos .scroll1 .marqueeText {
  padding: 0 0.75vw;
  color: #FF4500;
  font-family: 'Franklin Gothic Heavy';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.035em;
  font-size: 5vw;
}

.projetos .scroll1 .blue {
  color: #36B7FF;
}

.fixed {
  position: fixed !important;
  top: 35px;
}

.blockImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 99vw;
  padding: 0.5vw;
}

.blockImgs .ColunaImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15vw;
  padding: 5px;
  margin-top: 7vh;
}

.blockImgs .ColunaImgs a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 1vh 0;
  margin: 1vh 0;
}

.blockImgs .ColunaImgs a img {
  position: relative;
  width: 90%;
  mix-blend-mode: darken;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.blockImgs .ColunaImgs a .first {
  z-index: 3;
  top: 1.5vh;
  left: 1vw;
}

.blockImgs .ColunaImgs a .second {
  position: absolute;
}

.blockImgs .ColunaImgs a .third {
  top: -0.2vh;
  left: 0;
  position: absolute;
}

.blockImgs .ColunaImgs a:hover img {
  mix-blend-mode: normal;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.blockImgs .Conteudo {
  width: 70vw;
  margin-top: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockImgs .Conteudo h1 {
  display: none;
}

.blockImgs .Conteudo .mainPhoto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vw 0;
}

.blockImgs .Conteudo .mainPhoto img {
  width: 95%;
}

.blockImgs .Conteudo .mainText {
  padding: 1vw;
  padding-bottom: 0;
  margin: 1vw 0;
}

.blockImgs .Conteudo .mainText p {
  color: white;
  font-family: 'Arial';
  font-style: normal;
  font-size: 1vw;
}

.blockImgs .Conteudo .galery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blockImgs .Conteudo .galery .imgBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockImgs .Conteudo .galery .imgBlock img {
  width: 100%;
  height: auto;
}

.blockImgs .Conteudo .FichaTecnica {
  position: absolute;
  width: 99.35vw;
  height: 100vh;
  left: -0.2vw;
  background-color: #EDFAC9;
  padding-top: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockImgs .Conteudo .FichaTecnica .carouselBlock {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockImgs .Conteudo .FichaTecnica .carouselBlock .carousel {
  margin-top: 13vh;
  margin-left: auto;
}

.blockImgs .Conteudo .FichaTecnica .carouselBlock .carousel .carousel-inner .carousel-item img {
  width: 20vw;
  height: 45vh;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinksMargin {
  margin-top: 13vh;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinks a {
  width: 50%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF4500;
  padding: 1vh 0;
  margin-left: 8vw;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinks h4 {
  width: 50%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  color: #FF4500;
  margin: 0;
  padding: 1.5vh 0;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .blue a {
  color: #36B7FF;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .blue h4 {
  color: #36B7FF;
}

.imgs {
  margin-top: 12vh;
}

.ficha {
  background-color: #EDFAC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 14vh;
  z-index: 11;
  opacity: 0;
  position: absolute;
  margin-top: -1vh;
  padding: 0;
}

.ficha .scroll2 {
  height: 100%;
}

.ficha .scroll2 .marqueeText {
  padding: 0 0.75vw;
  color: #FF4500;
  font-family: 'Franklin Gothic Heavy';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.035em;
  font-size: 5vw;
}

.ficha .scroll2 .blue {
  color: #36B7FF;
}
/*# sourceMappingURL=style.css.map */