*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FF4500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

::-webkit-scrollbar-track {
  background-color: #EDFAC9;
}

::-webkit-scrollbar {
  width: 0.75vw;
}

::-webkit-scrollbar-thumb {
  background: #0C0C0C;
}

.formBody {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formBody form {
  border-radius: 1vw;
  border: 1px solid darkgray;
  padding: 2.5vw;
  width: 32vw;
  background-color: #EDFAC9;
}

.formBody form .form-field {
  margin-bottom: 1vw;
}

.formBody form .form-field label {
  font-weight: 700;
}

.formBody form .form-field span {
  background: red;
  color: white;
  display: none;
  padding: 0.5vw;
  text-align: center;
}

.formBody form input,
.formBody form button {
  cursor: pointer;
  padding: 10px;
  width: -webkit-fill-available;
  border: none;
  border-radius: 1vw;
}

.formBody form .confirm[disabled] {
  border: 2px solid lightgray;
  color: gray;
}

.formBody form .confirm {
  margin-top: 1vw;
  margin-left: 14vw;
  width: 50%;
  background: none;
  border: 2px solid greenyellow;
  color: green;
  font-weight: 700;
  border-radius: 1vw;
}

.formBody {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formBody form {
  border-radius: 1vw;
  border: 1px solid darkgray;
  padding: 2.5vw;
  width: 32vw;
  background-color: #EDFAC9;
}

.formBody form h2 {
  text-align: center;
  margin-bottom: 2vh;
}

.formBody form .form-field {
  margin-bottom: 1vw;
}

.formBody form .form-field label {
  font-weight: 700;
}

.formBody form .form-field span {
  background: red;
  color: white;
  display: none;
  padding: 0.5vw;
  text-align: center;
}

.formBody form input,
.formBody form button {
  cursor: pointer;
  padding: 10px;
  width: -webkit-fill-available;
  border: none;
  border-radius: 1vw;
}

.formBody form .entrar[disabled] {
  border: 2px solid lightgray;
  color: gray;
  background: none;
}

.formBody form .entrar {
  margin-top: 1vw;
  background: green;
  border: 2px solid green;
  color: white;
  font-weight: 700;
  border-radius: 1vw;
}

.formBody form .recuperar {
  color: black;
  padding: 0;
  width: 10vw;
  margin-left: 65%;
  background: none;
}

.formBody form .recuperar:hover {
  font-weight: 600;
}

.blockBody {
  background-color: #EDFAC9;
  width: 75vw;
  min-height: 100vh;
  height: 100%;
  border-radius: 1vw 1vw 0 0;
  -webkit-box-shadow: 0 0 5px #3d3d3d;
          box-shadow: 0 0 5px #3d3d3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockBody .logout {
  bottom: 1vw;
  right: 1vw;
  border: 1px solid darkgray;
  background-color: red;
  position: absolute;
  padding: 0.5vw;
  border-radius: 1vw;
  color: white;
  font-weight: 700;
}

.blockBody .headerAdm {
  border-bottom: 1px solid #5a5a5a;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2vw 1vw;
  position: relative;
}

.blockBody .headerAdm h2 {
  color: black;
  font-weight: 700;
  font-size: 2.5vw;
  margin-left: 1vw;
}

.blockBody .headerAdm .NewProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 4vw;
  height: 7vh;
  margin-left: auto;
  margin-right: 1vw;
}

.blockBody .headerAdm .NewProject button {
  border: none;
  cursor: pointer;
  background-color: green;
  color: white;
  width: 100%;
  font-size: 3vw;
  font-weight: 700;
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1vw;
}

.blockBody .projetosContent {
  width: 100%;
  padding: 2vw;
}

.blockBody .projetosContent ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blockBody .projetosContent ul li {
  padding-bottom: 1vw;
  padding-right: 1vw;
}

.blockBody .projetosContent ul li img {
  width: 10vw;
}

.header {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 1vh;
  padding: 1vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header h1 {
  color: black;
  font-weight: 700;
}

.header button {
  padding: 0.5vw 1vw;
  border: none;
  background-color: #FF4500;
  color: #EDFAC9;
  font-weight: 700;
  border-radius: 1vw;
  font-size: 1vw;
  position: absolute;
  right: 2vw;
  top: 3vh;
}

#FormProject {
  width: 100%;
  padding: 1vh 2vw 10vh 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5vh;
  position: relative;
}

#FormProject .formBlock {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2vh 0;
}

#FormProject .formBlock label {
  font-weight: 600;
  color: black;
}

#FormProject .formBlock input, #FormProject .formBlock textarea {
  border-radius: 1vw;
  border: none;
  margin: 0 0 0 0.5vw;
  padding: 10px;
}

#FormProject .formBlock select {
  padding: 5px 15px 5px 5px;
  border: none;
  margin-left: 1vw;
}

#FormProject .fichaTecnica {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#FormProject .fichaTecnica .pessoa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1vh 0;
}

#FormProject .fichaTecnica .PersonBlock {
  width: 32%;
}

#FormProject .fichaTecnica p {
  border: 2px solid red;
  font-weight: 700;
  margin: 0;
  padding: 2vw;
}

#FormProject .QntyProject {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#FormProject .imgPrincBlock {
  margin: 1vh 0 3vh 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#FormProject .imgPrincBlock .insideImgPrinc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#FormProject .imgPrincBlock .insideImgPrinc button {
  height: 6vh;
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  border: 1px solid;
  font-weight: 600;
  margin: 0.5vh 0;
}

#FormProject .imgPrincBlock #imgPrinc {
  margin: 0 2vw;
  width: 25%;
}

#FormProject .gallery {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5vh;
  position: relative;
}

#FormProject .gallery #selectGallery {
  height: 6vh;
  border-radius: 1vw;
  padding: 0.5vw 1vw;
  border: 1px solid;
  font-weight: 600;
  margin: 0.5vh 1vw;
}

#FormProject .gallery #progressUpload {
  position: absolute;
  right: 5vw;
  top: 4vh;
  font-weight: 500;
}

#FormProject .gallery .galleryBlock {
  width: 100%;
  padding: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: white;
  border-radius: 2vw;
  margin-top: 2vh;
}

#FormProject .gallery .galleryBlock .imgBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#FormProject .gallery .galleryBlock .imgBlock img {
  width: 100%;
  height: auto;
}

#FormProject #SaveBt {
  position: absolute;
  bottom: 0;
  right: 2vw;
  padding: 1vw;
  font-weight: 700;
  border: 0;
  border-radius: 1vw;
  background-color: green;
  color: #EDFAC9;
}

/* Medium Device = 1200px */
/* Tablet Device = 768px */
/* Wide Mobile = 480px */
header {
  background-color: #EDFAC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  height: 35px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header .scroll {
  height: 100%;
}

header .scroll .marqueeText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 16px;
  padding: 0;
  color: #FF4500;
  font-family: 'Franklin Gothic Heavy';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.035em;
  padding-right: 40px;
}

header .scroll .marqueeText .mainLink {
  color: #3A0000;
  margin: 0 5px;
}

header .scroll .marqueeText a {
  color: #FF4500;
}

header .scroll .marqueeText img {
  position: absolute;
  width: 20px;
  height: 15px;
  right: 10px;
  top: 5px;
}

header .scroll .blue {
  color: #36B7FF;
}

header .scroll .blue a {
  color: #36B7FF;
}

.containerVetor {
  width: 100%;
  height: 100vh;
}

.containerVetor .block_vetor {
  border: 10px solid #EDFAC9;
  border-radius: 25px;
  width: 35vw;
  height: 75vh;
  padding: 10px 0;
  margin: 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 7vh;
  left: auto;
}

.containerVetor .block_vetor .title {
  font-family: 'Franklin Gothic Heavy';
  color: #EDFAC9;
  font-weight: 900;
  font-size: 3.2vw;
  padding: 0;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerVetor .block_vetor .title p {
  padding: 0;
  margin: 0;
}

.containerVetor .block_vetor .title span {
  margin-top: -30px;
}

.containerVetor .block_vetor img {
  width: 70%;
  margin: 20px 0 30px 0;
}

.containerVetor .block_vetor .Links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.containerVetor .block_vetor .Links li {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  list-style: none;
}

.containerVetor .block_vetor .Links li .link {
  font-family: 'Franklin Gothic';
  font-style: normal;
  font-weight: 600;
  line-height: 41px;
  letter-spacing: -0.06em;
  font-size: 1.4vw;
  color: #05e478;
}

.containerVetor .block_vetor .Links li .darkRed {
  color: #3A0000;
}

.projetos {
  background-color: #EDFAC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 10vh;
  z-index: 10;
}

.projetos .scroll1 {
  height: 100%;
}

.projetos .scroll1 .marqueeText {
  padding: 0 0.75vw;
  color: #FF4500;
  font-family: 'Franklin Gothic Heavy';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.035em;
  font-size: 5vw;
}

.projetos .scroll1 .blue {
  color: #36B7FF;
}

.fixed {
  position: fixed !important;
  top: 35px;
}

.blockImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 99vw;
  padding: 0.5vw;
}

.blockImgs .ColunaImgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100% +10px;
  margin-top: 7vh;
}

.blockImgs .ColunaImgs .outimg {
  height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  margin: 0 0 3vh 0;
  width: 15%;
}

.blockImgs .ColunaImgs .outimg a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.blockImgs .ColunaImgs .outimg a img {
  position: relative;
  width: 90%;
  mix-blend-mode: darken;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.blockImgs .ColunaImgs .outimg a .first {
  z-index: 3;
  top: 2vh;
  left: 0.8vw;
}

.blockImgs .ColunaImgs .outimg a .second {
  position: absolute;
}

.blockImgs .ColunaImgs .outimg a .third {
  top: -2vh;
  left: 0;
  position: absolute;
}

.blockImgs .ColunaImgs .outimg a:hover img {
  mix-blend-mode: normal;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.blockImgs .ColunaImgs .left {
  margin-left: 68.5vw;
}

.blockImgs .Conteudo {
  width: 70vw;
  margin-top: 7vh;
  margin-left: 14.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 5vh;
}

.blockImgs .Conteudo h1 {
  display: none;
}

.blockImgs .Conteudo .mainPhoto {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1vw 0;
}

.blockImgs .Conteudo .mainPhoto img {
  width: 95%;
}

.blockImgs .Conteudo .mainText {
  padding: 1vw;
  padding-bottom: 0;
  margin: 1vw 0;
}

.blockImgs .Conteudo .mainText p {
  color: #EDFAC9;
  font-family: 'Arial';
  font-style: normal;
  font-size: 1vw;
}

.blockImgs .Conteudo .galery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blockImgs .Conteudo .galery .imgBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1vw;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockImgs .Conteudo .galery .imgBlock img {
  width: 100%;
  height: auto;
}

.blockImgs .Conteudo .FichaTecnica {
  position: absolute;
  width: 99.35vw;
  height: 100vh;
  left: -0.2vw;
  background-color: #EDFAC9;
  padding-top: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockImgs .Conteudo .FichaTecnica .carouselBlock {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blockImgs .Conteudo .FichaTecnica .carouselBlock .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
}

.blockImgs .Conteudo .FichaTecnica .carouselBlock .carousel .carousel-inner .carousel-item img {
  width: 20vw;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinks a {
  width: 50%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FF4500;
  padding: 1vh 0;
  margin-left: 8vw;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .infoLinks h4 {
  width: 50%;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  color: #FF4500;
  margin: 0;
  padding: 1.5vh 0;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .blue a {
  color: #36B7FF;
}

.blockImgs .Conteudo .FichaTecnica .infosFicha .blue h4 {
  color: #36B7FF;
}

.imgs {
  margin-top: 12vh;
}

.ficha {
  background-color: #EDFAC9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 14vh;
  z-index: 11;
  opacity: 0;
  position: absolute;
  margin-top: -1vh;
  padding: 0;
}

.ficha .scroll2 {
  height: 100%;
}

.ficha .scroll2 .marqueeText {
  padding: 0 0.75vw;
  color: #FF4500;
  font-family: 'Franklin Gothic Heavy';
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.035em;
  font-size: 5vw;
}

.ficha .scroll2 .blue {
  color: #36B7FF;
}
/*# sourceMappingURL=style.css.map */